body {
    font-family: 'AvenirNext-Regular',sans-serif;
    margin: 0;
}

/*  =============  GENERAL  ==============  */
header {
  background: black;
  box-shadow: 0px 0px 15px #00000042;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 158px;
  z-index: 1;
  position: fixed;
  width: 100%;
}

header p {
  color: #f94615;
  font-size: 27px;
  font-weight: bold;
  position: absolute;
  left: 62px;
  top: 18px;
  background: white;
  padding: 17px 44px;
  -webkit-animation: bounce 6s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

header img {
  width: 200px;
}

.home_index {
  height: 100vh;
  overflow: hidden;
}

.home {
  position: absolute;
  right: 50px;
  padding: 20px;
}

.home img {
  width: 55px;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: background 1s;
}

.dark {
  background: black;
}

/* ================   IFRAMEs    ======================*/
iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 155px;
  max-height: 1762px;
  /*height: 2011px;*/
}

.block_links {
  display: none;
  height: 100px;
  width: 100px;
  background: white;
  height: 188px;
  width: 334px;
  background: white;
  position: absolute;
  right: 199px;
  top: 322px;
}

.block_links p {
  font-size: 44px;
  font-weight: bold;
}

@media ( max-width: 1200px ) {
  .block_links {
    right: 39px;
    top: 317px;
  }
}

@media ( min-width: 1500px ) {
  header {
    height: 164px;
  }

  iframe {
    top: 160px;
    max-height: 916px;
  }
}